{%- set interface = 'eth0' if salt['grains.get']('env') == 'dev' else 'ens3' -%}
{%- set addr = salt['network.interface_ip'](interface) -%}

server {
    listen {{ addr }}:80;

    root /usr/share/nginx/html;
    index index.html index.htm;

    server_name {{ addr }};

    location / {
        try_files $uri $uri/ =404;
    }
}
